{% extends "base.html" %}

{% block content %}
 <h1 style="text-align: center;margin-top:12px; margin-bottom: 12px">Sign IN Page </h1>


{% if  request.user.is_authenticated %}
  <div class="alert alert-warning" role="alert">
    Hey It seems you are already logged in!
  </div>
{% else %}
<form style="width:50%;margin: 0 auto;" method="POST" action="{% url 'sign_in_view' %}">
  {% csrf_token %}
  {% if error %}
  <div class="alert alert-danger text-center" role="alert" style="width:50%;margin: 0 auto;">
   {{error_msg}}
 </div>
  {% endif %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}

{% endblock  %}

