{% extends "base.html" %}

{% block content %}
 {% if request.user.is_authenticated %}
 <form method="POST" enctype="multipart/form-data" action="{% url 'submit_post' %}" >
    {% csrf_token %}
    <div class="mb-3">
        <div class="form-floating">
            <textarea class="form-control" required placeholder="Post some content here" name="post_caption" id="post_caption" style="height: 100px"></textarea>
            <label for="post_caption">Your Content</label>
          </div>
          <div class="input-group">
            <input type="file" required class="form-control" id="post_image" name="post_image"  aria-label="Upload" accept=".jpeg, .jpg, .png" >
          </div>
    </div>
    <div style="display:flex;flex-direction:row;justify-content: center;">
        <button type="submit" class="btn btn-dark">Post My Caption</button>
    </div>
  </form>
 {% else %}
 <div class="alert alert-warning text-center" role="alert">
    Please Log in or sign up to post content
  </div>
  {% endif %}

 {% for post in posts %}
  <div class="card" style="width: 18rem; margin: 0.5rem auto; margin-top:12px;">
    {% if post.image and post.image.url %}
    <img src="{{post.image.url}}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <p class="card-text">{{post.caption}}</p>
      <a class="badge text-bg-dark" href="/profile-view/{{post.user.username}}">Posted_by: {{post.user.username}}</a>
      <span class="badge text-bg-dark">Posted_at: {{post.created_at}}</span>
      {% if post.id in already_liked_posts %}
      <span class="badge text-bg-primary">Already Liked !</span>
      {% elif request.user.id != post.user.id %}
      <form method="POST" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
         <button class="btn btn-primary mt-2" type="submit">LikePost</button>
      </form>   
      {% endif %}
    </div>
  </div>
  {% endfor %}

{% endblock %}